@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

@layer base {
  html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #000;
  }

  body {
    margin: 0;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@media (max-width: 768px) {
  .mobile-hero {
    background-image: none !important;
    background: linear-gradient(to bottom, #006400, black);
  }
}